:root {
    --next-i18n-loading:  "Loading...";
    --next-i18n-complete: "Complete.";
}

:root:lang(es) {
    --next-i18n-loading:  "Cargando...";
    --next-i18n-complete: "Completa.";
}

:root:lang(fr) {
    --next-i18n-loading:  "Chargement...";
    --next-i18n-complete: "Complète.";
}

:root:lang(ja) {
    --next-i18n-loading:  "読み込み中";
    --next-i18n-complete: "完了いたしました。";
}
